#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 41px 185px 30px 181px;
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

#menu a {
    font: bold 15px/1.5 "DMSans", sans-serif;
    text-decoration: none;
    color: #696871;
}

#menu li {
    position: relative;
}

#menu li.active a {
    color: black;
}

#menu li.active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: 2px;
    background: #5454D4;
}

#button {
    border: none;
    border-radius: 10px;
    background: #FF7143;
    color: #fff;
    font: bold 17px/1.5 "DMSans",sans-serif;
    width: 211px;
    height: 60px;
}